@font-face { font-family: lobster; src: url("lobster.ttf"); } 
/*Imports custom font*/

body {
  background-color: #F8EDE3;
  } /*Sets body of whole page to color*/

h1 {
    color: #7D6E83;
    -webkit-text-stroke:  1px black;
    font-family: "lobster";
    font-size: 80px;
    /* Custom font is being used alongside a black text stroke */
  }